.contact_button {
    text-align: center;
    line-height: 2.5rem;
    height: 2.5rem;
    width: 12.5rem; 
    background-color: #13CAE6;
    border-style: none;
    font-weight:700;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}