
.box_main {
    justify-content: space-between;

}

.img {
    border-radius: 1rem;
    cursor: pointer;
}

.title_icon {
    display: flex;
    padding-top: 10px;
}

.title_box {
    display: flex;
    padding-left: 0.5rem;
}

.title_box p {
    font-weight: 600;
    font-size: 1rem;
    color: #2B3C5C;
    max-width: 110px;
    align-self: center;
    cursor: pointer;
}

.icon_box {
    justify-content: flex-end;
}

.icon_box svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
}