html,
body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app {
  background-image: url("../assets/background_dsk_blob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
  
}

* :not(img) {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

input {
  border-style: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    display: none;
  }

  .app {
    background-image: unset;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
  }
}
