.header_desktop {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
  padding-right: 5rem;
  padding-left: 5rem;
}


.menubar {
  display: flex;
  align-items: space-between;
}

.menubar li {
  display: flex;
  cursor: pointer;
}


.menubar li p {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px; 
  text-align: center; 
  color: #737373;
}

