@media (min-width: 800px) {
.menuMobile {
  display: none;
}

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
 line-height: 1.15;
  font-size: 4rem; 
  max-width: 37rem;
  margin: 1rem;
}

.search_bar {
  margin: 1rem;
  background-color: #ebedf0;
  padding: 0.8rem;
  border-radius: 10px;
  max-width: 35rem;
}

.search_bar input {
  font-family: system-ui;
  color: #8c8e91;
  font-weight: 700;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  max-width: 50rem;
  margin-bottom: 1rem;
}

.card {
  margin: 0.4rem;
  max-width: 195px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #efad33;
  height: 1.5rem;
  width: 9rem;
  border-radius: 22px;
  cursor: pointer;
  text-align: center;
}

.button button {
  all: unset;
  font-weight: 500;
  color: #fff;
}

.location {
  max-width: 600px;
}

@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menuMobile {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .title {
    font-weight: 800;
    font-size: 2.5rem;
    max-width: 20rem;
    margin: 0px;
  }

  .search_bar {
    max-width: 18rem;
  }

  .grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.05rem;
    row-gap: 0.05rem;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 100%;
    align-self: center;
  }

  .card {
    width: 150px;
  }

  .location {
    padding: 2rem;
    margin: 0px
  }

}
