.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header_desktop {
  display: flex;
  height: 150px;
  min-width: 100;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
  align-items: center;
}

.menubar {
  display: flex;
  align-items: space-between;
  margin-left: 11rem;
}

.menubar div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #efad33;
  height: 1.5rem;
  width: 7rem;
  border-radius: 22px;
}

.menubar .btn_home {
  background-color: #ff90c5;
}

.menubar div a {
  font-size: 0.6rem;
  font-weight: 500;
  color: #fff;
}

.menubar div {
  cursor: pointer;
}

.main {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: none;
}

.title {
  padding-bottom: 1.5rem;
  margin: 2rem;
  line-height: 1.15;
  font-size: 4rem;
}

.search_bar {
  margin: 1.5rem;
  max-width: 600px;
  background-color: #ebedf0;
  padding: 0.8rem;
  border-radius: 10px;
}

.search_bar input {
  font-family: system-ui;
  color: #8c8e91;
  font-weight: 700;
}

.grid {
  margin: 2rem 0.5em 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40rem;
}

.card {
  margin: 0.5rem;
  max-width: 195px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #efad33;
  height: 1.5rem;
  width: 9rem;
  border-radius: 22px;
  cursor: pointer;
}

.button a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.footer {
  height: 100%;
  min-width: 100%;
  display: flex;
  background-color: #ff90c5;
  justify-content: center;
}

.footer_items {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  margin-top: 1.5rem;
}

.footer_items div h1 {
  margin: 0;
}

.footer_items div p {
  text-align: center;
  font-size: 14px;
  font-family: system-ui;
}

.footer_socials {
  display: inline-grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.footer_text {
  padding: 1rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (max-width: 600px) {
  
  .header_desktop {
    display: none;
  }
  
  .container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-weight: 700;
    font-size: 4rem;
    max-width: 100%;
    padding-bottom: 0px;
}

  .grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.05rem;
    row-gap: 0.05rem;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 100%;
    align-self: center;
  }
  
  .card {
    width: 150px;
  }

  .footer {
    height: 100%;
    min-width: 100%;
    display: flex;
    background-color: #ff90c5;
    justify-content: center;
  }
  

}
