@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.styles {
    font-family: "roboto";
}

.Navbar .Navigation{
    display: none;
}

.Mobilenavigation{
    display: flex;
    flex-direction: column;

}

.Menuicon {
    cursor: pointer;
    z-index: 2;
    margin-left: -9rem;
    position: absolute;
}

.menuList {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #FF90C5;
    padding-top: 2rem;
    max-width: auto;
    box-shadow: 0 2px 6px #000000;
}

.menuList ul {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-left: 7rem;
}

.menuList ul li{
    padding-bottom: 1.5rem;
}

.menuList ul li a {
    cursor: pointer;
}
