@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.styles {
    font-family: "roboto";
}

.Navbar .Navigation{
    display: none;
}

.Mobilenavigation{
    display: flex;
    flex-direction: column;
}

.Menuicon {
    cursor: pointer;
    z-index: 2;
    margin-left: -9rem;
    position: absolute;
}

.menuList {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #FF90C5;
    padding-top: 2rem;
    padding-left: 2em;
    max-width: 100%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
}

.menuList ul {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-left: 5.5rem;
}

.menuList ul li{
    padding-bottom: 1.5rem;
}

.menuList ul li a {
    cursor: pointer;
}
